#Lampe {
    background-color: rgb(255, 234, 0);
    background-image: url("IMG_1943.png");
    height: 1250px; 
    width: 1250px;
    border-radius: 1250px; 
    display: flex;
    justify-content:center;
    flex-direction: column-reverse;
    align-items: center;
}

button {
    height: 250px; 
    width: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 75px; 
    color:rgb(255, 234, 0);
    font-size: 50px;
}