#Lampe {
    background-image: url("img/IMG_1943.png");
    height: 51px; 
    width: 51px;
    border-radius: 51px; 
    display: flex;
    justify-content:center;
}

button {
    height: 12px; 
    width: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 75px; 
    color:rgb(255, 234, 0);
}
